Flask==1.0.2
Flask-Cors==3.0.9
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
Werkzeug==0.15.5
gunicorn
psycopg2
numpy==1.16.4
Theano
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
scikit-learn==0.22.2.post1
scipy==1.1.0
matplotlib
SQLAlchemy
alembic
email-validator
